<header class="row spacing">
            <nav class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                     <li routerLinkActive="active" *ngIf="!isLogin()"><a [routerLink]="['signup']">Signup</a></li>
                 <li routerLinkActive="active" *ngIf="!isLogin()" ><a [routerLink]="['signin']">Signin</a></li>
                     <li routerLinkActive="active" *ngIf="isLogin()"><a [routerLink]="['logout']">Logout</a></li>
                      <!--<li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']">Logout</a></li>-->
               </ul>
            </nav>
        </header>
          <a href="/auth/facebook" class="btn btn-danger"><span class="fa fa-google-plus"></span> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a> 
        <div class="row spacing">
           <router-outlet></router-outlet>
        </div>

