<h2>
	
	Play Quiz
</h2>




<div class="slideshow-container" align="center">

<div class="mySlides" *ngFor="let item of listQuiz; let i= index">
    La serie de quiz
   <circle-progress
  align="center"
  id="circleProg"
  [percent]="percent"
  [radius]="70"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
  <h3 align="left">{{i+1}}-{{item.question}}</h3>
  <img src={{item.image}} width="280" height="200"> <br/><br>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <input type="radio" name="reponse" value={{item.reponse1}} id="rep1_{{i}}" autocomplete="off" (change)="reponseQuiz(i)"> <h4>&nbsp;{{item.reponse1}}</h4>
      </li>
      <li class="list-group-item">
        <input type="radio" name="reponse" value={{item.reponse2}} id="rep2_{{i}}" autocomplete="off" (change)="reponseQuiz(i)"> <h4>&nbsp;{{item.reponse2}}</h4> 
             </li>
      <li class="list-group-item">
          <input type="radio" name="reponse" value={{item.reponse3}} id="rep3_{{i}}" autocomplete="off" (change)="reponseQuiz(i)"> <h4>&nbsp;{{item.reponse3}}</h4>
      </li>
     
  </ul>
   <br>
   <button
   			type="button"
        class="btn info"
   			(click)="plusSlides(1)">
   	Suivant
   </button>
    
</div>
<!--<a class="prev" (click)="plusSlides(-1)">&#10094;</a>
<a class="next" (click)="plusSlides(1)">&#10095;</a>-->

</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="colsePopup()">&times;</span>
    <h3 id="msg1">Text1</h3>
     <h3 id="msg2">Text2</h3>
  </div>

</div>
