<h1>Accueil de promotion</h1>

<table>
  <tr>
    <td width="33%">
      <div class="card card-user" *ngIf="!updatePromo">
            <div class="image">
                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
            </div>
            <div class="content">
                 <button type="button" class="btn btn-success btn-s" (click)="ajouterPromo()">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter une promotion
                </button>
            </div>
       </div>
    </td>

    <td width="33%">

       <div class="card card-user" *ngIf="updatePromo">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                   <img class="avatar border-gray" src={{promo.image}} alt="..."/>

                                      <h4 class="title">
                                        <small>{{promo.titre}}</small>
                                      </h4>
                                    </a>
                                </div>
                               <p class="description text-center"> {{promo.description}} <br>
                                                   
                                </p><br/>
                                <h4>Date de départ</h4> <p class="description text-center"> {{promo.date_depart}}</p><br>
                                 <h4>Date de expiration</h4> <p class="description text-center"> {{promo.date_expiration}} </p>
                                 <h3>Details de promotion</h3>
                                 <ul>
                                   <li *ngFor="let detail of detailsPromo">{{detail}}</li>
                                 </ul>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button type="button" class="btn btn-warning btn-s" (click)="updatePromoFn()">
                                 <i class="glyphicon glyphicon-pencil"></i>&nbsp;Modifier
                                </button>

                                <button type="button" class="btn btn-danger btn-s" (click)="removePromo()">
                                 <i class="glyphicon glyphicon-remove"></i>&nbsp;Supprimer
                                </button>
                
                               
                            </div>
                        </div>
      
    </td>
    <td width="33%">
      
    </td>
  </tr>
</table>

<!--<ul>
   <li routerLinkActive="active"><a [routerLink]="['updatePromo']">update promo</a></li>
</ul>-->


<router-outlet></router-outlet>
<!-- Ajouter une promotion -->
 

  <!--Modifier et supprimer une promotion si exist-->
    