

<h1>
  {{title}}
</h1>


<!--<app-updatepack></app-updatepack>	
<app-pack></app-pack>-->
 <!--<button class="btn btn-default" (click)="showSuccess()">Toastr Tester</button>
 <button class="btn btn-default" (click)="envoyerEmail()">email</button>
 <button class="btn btn-default" (click)="EnvoyerSMS()">SMS</button>
 <button class="btn btn-default" (click)="downloadFile()">download File</button>-->
<!--<app-promotion></app-promotion>
<app-accueilpromo></app-accueilpromo>
 -->

<!--<h1>Hello World!</h1>
<hr>
 <nav class="col-md-8 col-md-offset-2">
                <ul class="nav nav-pills">
                    
                    <li routerLinkActive="active"><a [routerLink]="['/auto']">Auto Ecole</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/promo']">Promotion</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/pack']">Pack</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/cours']">Nos cours</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/serieQuiz']">Nos series de quiz</a></li>
                     <li routerLinkActive="active"><a [routerLink]="['/contrat']">Contrat</a></li>
                      <li routerLinkActive="active"><a [routerLink]="['/auth']">Authentification</a></li>
                </ul>
 </nav>

 <router-outlet></router-outlet>-->
 <!--<app-avis></app-avis>-->
<app-playquiz></app-playquiz>
<!--<app-quiz></app-quiz>
<app-updatequiz></app-updatequiz>
 <app-cours></app-cours>
 <app-updatecours></app-updatecours>
 -->

<!--<app-contrat></app-contrat>
<app-accueilcontrat></app-accueilcontrat>-->